/** https://flatuicolors.com/palette/defo */

:root {
    --color-primary: #1D1D1D;
    --color-secondary: #161313;
    --color-secondary-light: rgba(22, 19, 19, 0.4);
    --color-menu: #D35400;
    --color-menu-light: rgba(211, 84, 0, 0.5);
    --color-border: #8E44AD;
    --color-main-text: #ECF0F1;
    --color-text: #7F8C8D;
}