.icon-github .fab {
    color: var(--color-main-text);
    transition: 0.2s ease-out;
    border-radius: 50%;
}

.icon-github .fab:hover,
.icon-github .fab:focus {
    transform: scale(0.95);
    color: var(--color-border);
}
