.introducing-root {
    font-family: 'Rancho', cursive;
    color: var(--color-main-text);
    display: inline-block;
    width: 100%;
    top: 10vh;
    position: relative;
}

@media (min-width: 320px) {
    .introducing-root {
        width: 280px;
        top: var(--small-gap);
    }
}

.introducing-root::before {
    content: '<h1>';
    position: absolute;
    font-size: 1.5em;
    font-family: 'Quantico', sans-serif;
    color: var(--color-menu);
    top: -30px;
    left: -30px;
}

@media (min-width: 320px) {
    .introducing-root::before {
        content: '<h1>';
        position: absolute;
        font-size: 1em;
        top: -20px;
        left: -10px;
    }
}

.introducing-root::after {
    content: '</h1>';
    position: absolute;
    font-size: 1.5em;
    font-family: 'Quantico', sans-serif;
    color: var(--color-menu);
    top: 350px;
    left: 550px;
}

@media (min-width: 320px) {
    .introducing-root::after {
        content: '</h1>';
        position: absolute;
        font-size: 1em;
        top: 190px;
        left: 240px;
    }
}

.introducing-root > .introducing{
    position: absolute;
    font-size: 7em;
    transition-property: color, transform, opacity;
    transition-duration: 0.1s, 0.3s, 0.5s;
    transition-timing-function: ease-in-out;
}

@media (min-width: 320px) {
    .introducing-root > .introducing{
        position: absolute;
        font-size: 3em;
        transition-property: color, transform, opacity;
        transition-duration: 0.1s, 0.3s, 0.5s;
        transition-timing-function: ease-in-out;
    }
}

.introducing-root > .introducing:hover{
    color: var(--color-border);
    opacity: 0.3;
    transform: rotateY(360deg);
}

.introducing-root > .introducing.letter-2 {
    left: 70px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-2 {
        left: 30px;
    }
}

.introducing-root > .introducing.letter-3 {
    left: 100px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-3 {
        left: 40px;
    }
}

.introducing-root > .introducing.letter-4, 
.introducing.letter-5,
.introducing.letter-6,
.introducing.letter-7,
.introducing.letter-8,
.introducing.letter-9,
.introducing.letter-10,
.introducing.letter-11,
.introducing.letter-12 {
    top: 120px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-4, 
    .introducing.letter-5,
    .introducing.letter-6,
    .introducing.letter-7,
    .introducing.letter-8,
    .introducing.letter-9,
    .introducing.letter-10,
    .introducing.letter-11,
    .introducing.letter-12 {
        top: 55px;
    }
}

.introducing-root > .introducing.letter-5 {
    left: 40px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-5 {
        left: 20px;
    }
}

.introducing-root > .introducing.letter-6 {
    left: 55px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-6 {
        left: 25px;
    }
}

.introducing-root > .introducing.letter-7 {
    left: 150px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-7 {
        left: 70px;
    }
}

.introducing-root > .introducing.letter-8 {
    left: 210px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-8 {
        left: 95px;
    }
}

.introducing-root > .introducing.letter-9 {
    left: 250px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-9 {
        left: 115px;
    }
}

.introducing-root > .introducing.letter-10 {
    left: 295px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-10 {
        left: 135px;
    }
}

.introducing-root > .introducing.letter-11 {
    left: 340px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-11 {
        left: 155px;
    }
}

.introducing-root > .introducing.letter-12 {
    left: 400px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-12 {
        left: 175px;
    }
}

.introducing-root > .introducing.letter-13,
.introducing.letter-14,
.introducing.letter-15,
.introducing.letter-16,
.introducing.letter-17,
.introducing.letter-18,
.introducing.letter-19,
.introducing.letter-20,
.introducing.letter-21,
.introducing.letter-22,
.introducing.letter-23,
.introducing.letter-24,
.introducing.letter-25 {
    top: 240px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-13,
    .introducing.letter-14,
    .introducing.letter-15,
    .introducing.letter-16,
    .introducing.letter-17,
    .introducing.letter-18,
    .introducing.letter-19,
    .introducing.letter-20,
    .introducing.letter-21,
    .introducing.letter-22,
    .introducing.letter-23,
    .introducing.letter-24,
    .introducing.letter-25 {
        top: 105px;
    }
}

.introducing-root > .introducing.letter-14 {
    left: 65px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-14 {
        left: 30px;
    }
}

.introducing-root > .introducing.letter-15 {
    left: 105px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-15 {
        left: 50px;
    }
}

.introducing-root > .introducing.letter-16 {
    left: 180px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-16 {
        left: 85px;
    }
}

.introducing-root > .introducing.letter-17 {
    left: 225px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-17 {
        left: 105px;
    }
}

.introducing-root > .introducing.letter-18 {
    left: 265px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-18 {
        left: 125px;
    }
}

.introducing-root > .introducing.letter-19 {
    left: 305px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-19 {
        left: 145px;
    }
}

.introducing-root > .introducing.letter-20 {
    left: 345px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-20 {
        left: 165px;
    }
}

.introducing-root > .introducing.letter-21 {
    left: 365px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-21 {
        left: 175px;
    }
}

.introducing-root > .introducing.letter-22 {
    left: 405px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-22 {
        left: 195px;
    }
}

.introducing-root > .introducing.letter-23 {
    left: 455px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-23 {
        left: 215px;
    }
}

.introducing-root > .introducing.letter-24 {
    left: 500px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-24 {
        left: 235px;
    }
}

.introducing-root > .introducing.letter-25 {
    left: 540px;
}

@media (min-width: 320px) {
    .introducing-root > .introducing.letter-25 {
        left: 255px;
    }
}