.introducing-section {
    width: 650px;
    height: 80vh;
    margin-left: 10%;
}
.introducing-section > .main-introducing {
    font-size: 6em;
    width: 100%;
}

.introducing-section > .main-area {
    font-size: 2em;
    width: 650px;
    height: 32px;
    margin-top: 65%;
}