.main-menu > .menu-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    margin-left: var(--small-gap);
}
/*
@media (min-width: 320px) {
    .main-menu {
        flex-direction: column;
        padding: 1em;
        margin: 0;

        height: 100%;
        width: 90%;
        max-width: 320px;

        position: fixed;
        z-index: 9999;
        top: 0;
        right: -90%;

        transition: right 0.3s ease-out;
    }

    .active-menu .main-menu {
        right: 0;
    }

    .menu-content li {
        padding: 1em 0;
        width: 100%;
    }

    .menu-ativo::after {
        content: '';
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.4);
    }
}
*/
