.side-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 5%;
    margin-bottom: var(--small-gap);
}

@media (min-width: 320px) {
    .side-footer {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-top: 5em;
    }
}

@media (min-width: 480px) {
    .side-footer {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: var(--small-gap);
    }
}

.side-footer > .icon-github,
.side-footer > .icon-linkedin {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    margin-bottom: var(--small-gap);
}

@media (min-width: 320px) {
    .side-footer > .icon-github,
    .side-footer > .icon-linkedin {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    margin: var(--smaller-gap);
}
}

@media (min-width: 480px) {
    .side-footer > .icon-github,
    .side-footer > .icon-linkedin {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    margin-bottom: var(--smaller-gap);
}
}